body {
  background-color: #94B49F;
  font-family: "Montserrat";
  color: black;
  text-align: center;
  margin: 0;
}

.hpLink {
  padding-top: .5rem;
  font-size: .9375rem;
  color: #C56824;
}

.hpLink:hover{
  color: #7D1E6A;
}

.thanks {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  padding-top: 8rem;
}

.contactInfo {
  display: block;
  position: absolute;
  width: 87rem;
  text-align: center;
  top: 15.625rem;
  left: 6.25rem;
}

.icons {
  display: inline-block;
  height: 2.5rem;
  width:  2.5rem;
}

.phone {
  position: relative;
  right: 1.0625rem;
}

.myInfo {
  display: inline-block;
  position: relative;
  top: 1.87rem;
  right: 5.625rem;
}

/** message Form **/
form {
  display: block;
  margin-top: 12rem;
  left: 0.1875rem;
}

.nameLabel, .emailLabel {
  display: inline;
  bottom: 8.75rem;
  left: 160rem;
}

.nameInput, .emailInput {
  display: inline;
  bottom: 8.75rem;
  left: 10rem;
}

.messageLabel{
  display: block;
  margin-top: 1.25rem;
  text-align: center;
  margin-right: 23.125rem;
}

textarea{
position: relative;
left: 4.75rem;
bottom: 0.9375rem;
resize: vertical;
}

button{
position: relative;
left: .9375rem;
top: .5rem;
}


/** home Link */
.hpLink {
  display: inline;
  position: fixed;
  left: 20px;
  top: 3px;
}
