body {
  background-color: #6D8B74;
  font-family: "Montserrat";
  color: #EFEAD8;
  text-align: center;
  margin: 0;
}

a {
  position: fixed;
  display: block;
  color: #FAC213;
  font-weight: bolder;
  font-size: .94rem;
  left: .3rem;
}

a:hover {
  color: #EFEAD8;
}

hr {
position: relative;
border-style: none;
border-top-style: double;
border-color: black;
border-width: .3135rem;
}

/**container fonts and style */
.container {
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 1.25rem;
  letter-spacing: .08rem;
  /* border: solid purple 2px; */
  width: 80%
}

#hobbiesHeader {
  position: relative;
  top: 1.88rem;
  text-decoration: underline;
}

.hobbieText {
  position: absolute;
  text-align: center;
  margin: 0 auto;
}

.hobbieName {
  font-size: 1.25rem;
  color: #FAC213;
  font-weight: bolder;
}

/**image formating */
.hobImage {
  height: 15.625rem;
  width: 15.625rem;
  border-radius: 100rem;
  border: 0.1875rem solid black;
  margin-top: 5rem;
}

.myGirl {
  margin-top: .3rem;
  font-size: x-large;
}

#motorcycles {
  font-size: large;
  margin: 0;
  color: #FAC213;
}
