body {
  background-color: #6D8B74;
  font-family: "Montserrat";
  color: #EFEAD8;
  text-align: center;
  padding: 0 1.25rem 0 1.25rem;
  margin: 0;
}

.hpLink {
  padding-top: .5rem;
  font-size: 15px;
  color: #FAC213;
  font-weight: bolder;
}

.hpLink:hover {
  color: #EFEAD8;
}

.dog-container {
  position: relative;
}

.hobbieText {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

h2, h5 {
  font-family: 'Montserrat', sans-serif;
  ;
}

h1 {
  position: absolute;
  color: #1F4690;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 0.1875rem;
  font-family: 'Montserrat', sans-serif;
}

.hpLink {
  position: fixed;
  right: 84.375rem;
}

#myGirl {
  margin-top: 0;
  font-size: x-large;
}

#motorcycles {
  font-size: large;
}

.hobImage {
  height: 15.625rem;
  width: 15.625rem;
  border-radius: 100rem;
  border: 0.1875rem solid black;
  margin-top: 4.0625rem;
}

.hobbieName {
  font-size: 1.25rem;
  color: #FAC213;
  ;
  font-weight: bolder;
}

.hobbieText {
  position: absolute;
  text-align: center;
  margin: 0 auto;
}

#motorcycles {
  color: #FAC213;
  font-weight: bold;
}

hr {
  color: black;
  border: solid .125rem black;
}

.BeachHar {
  margin-top: 5rem;
}

.mountain {
  margin-top: 5rem;
}

.capeCod {
  margin-top: 5rem;
}
