body {
  background-color: #94B49F;
  font-family: "Montserrat";
  color: black;
  text-align: center;
  padding: 0 1.25rem 0 1.25rem;
  margin: 0;
}

.aboutMe{
  position: relative;
  bottom: 60px;
}

.aboutMeHeader{
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 10px;
}

img{
    border-radius: 50%;
    position:relative;
    bottom: 40px;
    border: 100px;
}
.subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.875rem;
  font-style: italic;
  color: #7D1E6A;
  line-height: 1;
}
.name {
  color: #C56824;
  font-weight: bold;
  font-size: 2.5rem;
  margin: .4375rem;
  text-align: center;
}

.top-box{
padding: 0;
}
h1, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  color: #7D1E6A;
  font-style: oblique;
  text-align: center;
}

h4 {
  font-family: "Ibarra Real Nova";
  font-weight: bolder;
  line-height: 0;
}

.workRoles{
  text-decoration: underline;
  font-weight: bolder;
}
.school{
    text-decoration: underline;
}


hr {
  border-style: none;
  border-top-style: double;
  border-color: black;
  border-width: .3125rem;
  margin-top: .8125rem;
}

.skills {
  display: block;
  margin-left: 25rem;
}

.education {
  display: block;
  text-align: left;
}

/*links */
.links{
  position: relative;
  bottom: 70px;
}

a {
color: #C56824;
font-weight: bolder;
font-size: 20px;

}

a:hover {
  color: #7D1E6A;
  padding: 5px;
}
