body {
  background-color: #94B49F;
  font-family: sans-serif;
  color: black;
}

.name {
  color: #1F4690;
  font-size: 40px;
  margin: 7px;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: double;
  border-color: black;
  border-width: 5px;
  margin-top: 13px;
}

h3 {
  font-size: 30px;
  color: #1F4690;
  font-style: oblique;
  text-align: center;
}

/*links */
a {
  color: black;
}

a:hover {
  color: #1F4690;
  padding: 5px;
}
