body {
  background-color: #6D8B74;
  font-family: "Montserrat";
  color: #EFEAD8;
  margin: 0;
}

h3 {
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}

/**Parent Header Bodx */
.headerBox {
  display: block;
  position: relative;
  text-align: center;
  /* border: solid white 2px; */
}

.name {
  color: #EFEAD8;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: .4375rem;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.875rem;
  font-style: italic;
  color: #FAC213;
  ;
  line-height: 1;
}

/** Child: about me box, Parent: HeaderBox */
.aboutMeBox {
  display: inline-block;
  position: relative;
  margin: 0 90px 0 300px;
  bottom: 210px;
  line-height: 1.5;
  text-align: left;
  /** border: solid purple 2px; */
}

img {
  position: relative;
  bottom: 20px;
  left: 20px;
  height: 250px;
  width: 250px;
  border: solid black 4px;
  border-radius: 50%
}

.header {
  position: relative;
  display: inline;
}

/** Child: linksBox; Parent: headerBox */
.links {
  display: inline-block;
  position: relative;
  margin: 0 90px 0 470px;
  bottom: 180px;
  font-size: 5px;
  text-align: left
}

a {
  color: #FAC213;
  font-weight: bolder;
  font-size: 1.25rem;
}

a:hover {
  color: #EFEAD8;
  padding: .3125rem;
}

hr {
  position: relative;
  bottom: 110px;
  border-style: none;
  border-top-style: double;
  border-color: black;
  border-width: .3135rem;
}

/**workBox */
.workBox {
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 110px;
  margin: 20px;
  letter-spacing: 1.5px;
}

.skillsBox {
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 110px;
  margin: 20px;
  letter-spacing: 1.5px;
  left: 7%;
}

.softSkills {
  color: #A2D2FF;
}

.education {
  display: inline-block;
  position: relative;
  bottom: 110px;
  text-align: left;
  margin: 20px;
  padding-left: 2px;
  letter-spacing: 1.5px;
}
