body {
  background-color: #6D8B74;
  font-family: "Montserrat";
  color: #EFEAD8;
  margin: 0;
}

a {
  position: fixed;
  display: block;
  color: #FAC213;
  font-weight: bolder;
  font-size: .94rem;
  left: .3rem;
}

a:hover {
  color: #EFEAD8;
}

img{
  top: 30px;
  border: solid black .1875rem;
  border-radius: 10rem
}
