body{
  background-color: #94B49F;
  font-family: sans-serif;
  color: black;
}

a{
  color: black;
  padding: 5px;
}

hr{
border-style: none;
border-top-style: double;
border-color: black;
border-width: 5px;
margin-top: 13px;
}
h1, h3{
color:  #1F4690;
}
